.header_border {
  border-right: 1px solid rgba(255, 255, 255, 0.305);
  padding-right: 25px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo a:hover {
  transform: scale(1.05);
  transition: 0.25s;
}

.link_logo {
  font-size: 16px;
  color: white;
  margin: 0 5px 0 0;
}

.logo_beta {
  font-size: 8px;
  color: white;
  opacity: 25%;
  padding: 3px;
  border: 1px dashed white;
  border-radius: 8px;
  letter-spacing: 1.3px;
  user-select: none;
}

@media screen and (max-width: 767px) {
  .header_border {
    border: 0px;
  }
}
